/certs

.idea
working
chef/.kitchen
chef/aws.json
atlassian-ide-plugin.xml
.virtualenv
__pycache__
*.pyc
.coverage
Distutils.egg-info
*.log
*.tmp
tags
*.html
.DS_Store
htmlcov
_build
coverage.xml
.ropeproject
.*.swp
config/local.conf
audit.log.*
.cache

node_modules
.vscode/settings.json
open_permissions_platform_repository_service.egg-info/*
